body{
  font-family: monospace;
  background-image: url("../img/robotbg.jpg");
  background-color: #cccccc;
  padding: 80px;
}

h1{
  font-size: 70px;
}

h4{
  font-size: 40px;
}

label{
  font-size: 30px;
}

.container{
  padding: 5px;
  border: 0px;
  background-color: #0d1a23;
}

.jumbotron{
  text-align: center;
  padding: 150px;
  padding-bottom: 125px;
  margin: 15px;
}

#resultWindow{
  display: none;
}

#formJumbo{
  display: none;
  padding-top: 40px;
  padding-bottom: 60px;
}
#result{
  font-size: 30px;
}
#resultWindow h2{
  font-size: 40px;
}
